<div th:fragment="locations_table" class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Denomination</th>
            <th scope="col">Address</th>
            <th scope="col">Coordonnées GPS</th>
        </tr>
        </thead>
        <tbody th:each="location: ${locations}">
        <tr>
            <td><a th:href="@{/dashboard/locations/{id}(id=${location.getId()})}" th:text="${location.getDenomination()}"></a></td>
            <td th:text="${location.getAddress()}"></td>
            <td th:text="${location.getGPSCoordinates()}"></td>
        </tr>
        </tbody>
    </table>
</div>