
body {
    background-color: darkgrey;
}

h1
}
    color : royalblue;
    font-style : italic;

}

h2{
    color : steelblue;
    font-style : normal;
    padding : 5em;
}

h3{
    color : steelblue;
    font-style : normal;
    padding : 5em;
}